@font-face {
    font-family: "Comic Sans";
    src: url("ComicSansMS-Regular");
    src: url("ComicSansMS-Regular") format("embedded-opentype"),
         url("ComicSansMS-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


